<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>template</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="header">
    <div class="minhead1">
      <a href=""><b class="b1">BR </b> Architects</a>

    </div>
    <div class="minhead2">
      <a href="">Projects</a>
      <a href="">About</a>
      <a href="">Contact </a>
    </div>
  </div>
  <div class="midbody">
    <img src="architect.jpg" alt="">
    <h2 class="midch"><b class="b2">BR </b> Architects</h2>

  </div>
  <div class="project">Projects</div>
  <div class="mains">
    <div class="divs">
      <img src="house1.jpg" alt="">
      <h3 class="sdivs">Summer house</h3>
    </div>
    <div class="divs">
      <img src="house2.jpg" alt="">
      <h3 class="sdivs">Brick house</h3>
    </div>
    <div class="divs">
      <img src="house3.jpg" alt="">
      <h3 class="sdivs">Renoveted house</h3>
    </div>
    <div class="divs">
      <img src="house4.jpg" alt="">
      <h3 class="sdivs">Luxury house</h3>
    </div>
    <div class="divs">
      <img src="house5.jpg" alt="">
      <h3 class="sdivs">Villa house</h3>
    </div>
    <div class="divs">
      <img src="house6.jpeg" alt="">
      <h3 class="sdivs">Summer house</h3>
    </div>
    <div class="divs">
      <img src="house7.jpeg" alt="">
      <h3 class="sdivs">Aligannt house</h3>
    </div>
    <div class="divs">
      <img src="house8.jpeg" alt="">
      <h3 class="sdivs">Summer house</h3>
    </div>
  </div>
<div class="about">
  <div class="aboutit"> <h1>About</h1></div>
  <div class="para">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed exercitationem debitis! Doloremque ducimus, accusamus sit, accusantium obcaecati sunt soluta libero deleniti, 
    illo autem quam quisquam et? Aperiam, temporibus delectus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quisquam nihil adipisci voluptatum, exercitationem quod delectus accusamus mollitia soluta quis quia maxime, libero temporibus pariatur perspiciatis inventore sint provident? Incidunt.</p>
  </div>

</div>

<div class="person">
  <div class="p1">
    <div class="employee">
      <img src="team1.jpg" alt="" class="image">
    </div>
    
    <div class="card">
      
        <h1>John Doe</h1>
        <br>
      <h2>CEO & Founder</h2>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed simicupiditate. Veritatis saepe alias </p>
    <br>
      <button class="bt">contact</button>
    </div>
  </div>
  <div class="p1">
    <div class="employee"><img src="team2.jpg" alt="" class="image"></div>
    
    <div class="card">
      
      <h1>Jane Doe</h1>
      <br>
    <h2>CEO & Founder</h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed simicupiditate. Veritatis saepe alias </p>
  <br>
    <button class="bt">contact</button>
  </div>
  </div>
  <div class="p1">
    <div class="employee">
      <img src="team3.jpg" alt="" class="image">
    </div>
    <div class="card">
      
      <h1>Mike ross</h1>
      <br>
    <h2>CEO & Founder</h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed simicupiditate. Veritatis saepe alias </p>
    <br>
    <button class="bt">contact</button>
  </div>
   
  </div>
  <div class="p1">
    <div>
      <img src="team4.jpg" alt="" class="image">
    </div>
    <div class="card">
      
      <h1>Dan star</h1>
      <br>
    <h2>CEO & Founder</h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed simicupiditate. Veritatis saepe alias </p>
  <br>
    <button class="bt">contact</button>
  </div>
    
  </div>
</div>

<div class="contact">
  <div class="cont1"><h1>Contact</h1></div>
  <div class="cont2">
    <h2>Lets get in touch and talk about your next project</h2>
    <form action="">
<input type="text" placeholder="Name">
<br>
<input type="email" placeholder="Email">
<br>
<input type="text" placeholder="Subject">
<br>
<input type="text" placeholder="Comment">
<br>
<button>SEND MESSAGE</button>
  </form></div>
</div>
<div class="bigimg"></div>
<footer class="foot"><h3>Powered by W3.Schools</h3></footer>
</body>

</html>