* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.headerup {
    color: white;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0px;
    background-color: black;
    z-index: 999;

}

.head1 a {
    margin: 20px;
    color: white;
    text-decoration: none;
}

.headerdown {
    color: rgb(0, 0, 0);
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    padding: 35px;
    z-index: 998;

}

.hd1 {
    margin-left: 20px;
}

.hd2 a {
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}

.menu {

    display: flex;
    /* margin-right: 50px; */

}

.menu1 {

    display: flex;

}

.menu li {

    margin: 10px;
    list-style: none;
}


.menu1 li {
    margin: 5px;
    padding: 0px 0px 0px 60px;
    font-size: 20px;
    list-style: none;
}

.submenu {

    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 0px 10px rgb(180, 179, 179);
}

.prod:hover .submenu {
    color: white;
    border-radius: 5px;
    display: block;
    z-index: 999;
}

.submenu li:hover {

    background-color: rgb(21, 20, 20);
    color: white;
}

.hd3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

i {
    margin: 10px;
    font-size: 20px;
}

.price {
    padding-top: 10px;
}

.lang {
    background-color: black;
    border: none;
    color: white;
    /* display: none; */

}

.lang::after {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    /* display: block; */

}

/*< -------------------Shop section------------------> */

.container {
    display: flex;
    background-color: rgb(212, 212, 212);
    /* border: 2px solid black; */

}

.mincont {

    margin: 10px;
    width: 100%;
    /* border: 2px solid black; */

}

.row {
    font-size: 30px;
    margin: 30px;
}

.links {
    margin-top: 5px;
    font-size: 20px;
}

.atag {

    text-decoration: none;
    color: black;
}


/* <-----------------------Mid section of the male fashion ----------------------->*/

.midpart {
    /* border: 2px solid black; */
    position: relative;


}

.midbetween {
    /* border: 2px solid black; */
    background-color: rgb(245, 245, 245);
    margin: 50px;
}

.midrow {
    display: flex;
    justify-content: space-between;
}


.midcol1 {
    display: flex;
    margin: 20px;
    width: 40%;
    /* border: 1px solid black; */

}


.midform {
    display: flex;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
    /* border: 2px solid black; */
}


.input {

    margin: 0px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    position: absolute;
}

#itag {
    font-size: 20px;
    position: absolute;
    left: 210px;
    top: 0px;
}

.categories {
    list-style: none;
    margin-top: 60px;
    padding: 10px;
    /* border-bottom: 1px solid black; */
}

.category {
    margin: 20px;
    list-style: none;
    margin-top: 2%;

}

.lists {
    margin: 10px;
}

.category1 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    margin: 20px;
}



a {
    margin: 5px;
    text-decoration: none;
}

.category2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.atags {
    /* border: 1px solid black; */
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 40%;
    flex-grow: 1;
    border-radius: 5px;
    padding: 10px;

}

.atags:hover {
    color: #fff;
    background-color: black;
}

.size-lower {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 20px; */
    border-bottom: 1px solid black;
}

.colored {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.color-lower {
    margin: 30px;
}

.colored .atags {

    border-radius: 50%;
    margin-top: 40px;
    flex-grow: 2;
    margin: 10px;

}

.colored #c1 {
    height: 30px;
    width: 30px;
    background-color: black;
}

.colored #c2 {
    height: 30px;
    width: 30px;
    background-color: rgb(34, 37, 249);
}

.colored #c3 {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 13, 13);
}

.colored #c4 {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 41, 145);
}

.colored #c5 {
    height: 30px;
    width: 30px;
    background-color: rgb(68, 255, 71);
}

.colored #c6 {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
}

/* .colored  #c1{
    height: 20px;
    width: 20px;
background-color: black;
}

.colored  #c1{
    height: 20px;
    width: 20px;
background-color: black;
}

.colored  #c1{
    height: 20px;
    width: 20px;
background-color: black;
} */

.taggs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.taggs-upper {
    margin: 10px;
}

.taggs-lower {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    flex-grow: 1;

}


.midcol2 {
    /* border: 1px solid black; */
    width: 100%;
    /* background-color: black; */
}

.rowupper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail1 {
    margin: 20px;
}

.detail2 {
    margin: 20px;
}

.price {


    display: none;

    position: absolute;
    right: 0px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(180, 179, 179);
}

.price1 {
    list-style: none;
    margin: 10px;

}

.range:hover .price {
    color: white;
    border-radius: 5px;
    display: block;
    z-index: 999;
}

.cards {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 30%;
    border: 1px solid black;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.prodimg {
    width: 100%;
}

.choice {
    list-style: none;
    position: absolute;
    margin: 10px;
    right: -50px;
    transition: all .5s;

}

.card:hover .choice {

    right: 0px;
}

.choice:hover {
    list-style: none;
    position: absolute;
    margin: 10px;
    right: 450px;
    transition: all 2s;
    transform: translateX(-90px);

}

.cart {

    transition: all .3s;
    position: relative;
    margin: 10px;
    transform: translateY(-28px);
    opacity: 0;
}

.card:hover .cart {
    transform: translateY(2px);
    display: block;
    opacity: 1;
}


.rowlower {
    display: flex;

    justify-content: center;
}

.options {

    margin: 20px;

}

.options a {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

.detail {
    display: flex;
    flex-direction: column;
    margin: 5px 10px 10px 10px;
}

.detail span {
    margin: 5px;
}

.detail span i {
    margin: 5px;
    font-size: 10px;
    margin: 0px;
}

.detail h3 {
    margin: 5px;
}

.color {
    transition: all .5s;
    position: absolute;
    right: 10px;
    bottom: 20px;
    opacity: 0;


}

.card:hover.color {

    opacity: 1;

}

.footers {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.footrow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 3px;
}

.info {
    color: #fff;
    width: 20%;
    padding: 60px;
    margin: 40px;

}

.info img {
    background-color: #000000;
    margin: 15px;
}

.info p {
    margin: 15px;
}

.info a {
    color: rgb(255, 255, 255);
    margin: 5px;
}


.shop1 {
    display: flex;
    flex-direction: column;
    margin: 4%;
    width: 20%;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid black;
    color: white;
}

.shop1 a {

    color: rgb(255, 255, 255);
    margin: 10px;
}

.shop1 span {
    margin-bottom: 35px;
    margin-left: 15px;
}

.shop2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid black;
    margin: 4%;
}

.shop2 span {
    margin-bottom: 35px;
    margin-left: 15px;
}

.shop2 a {
    color: rgb(244, 244, 244);
    margin: 10px;
}

.letter {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    margin: 4%;
    color: white;
}

.update span {
    font-size: 20px;
    margin-bottom: 40px;
}

.update p {
    margin: 10px 10px 10px 0px;

}

.update input {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    width: 70%;
}

.message {
    display: flex;
    border-bottom: 2px solid white;

}

.message i {
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
}

.copyright {
    border-top: 1px solid white;
    margin: 20px;
    padding: 5px;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cpr h5 {
    font-weight: lighter;
}

.cpr a {
    color: red;
}